pkgbase = linux-aarch64-rockchip-bsp6.1-fydetab-git
	pkgver = 6.1.75.r1272327.g7348ed5d
	pkgrel = 1
	url = https://github.com/Linux-for-Fydetab-Duo
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = dtc
	options = !strip
	source = git+https://github.com/Linux-for-Fydetab-Duo/linux-rockchip.git#branch=noble
	source = custom_reconfig
	source = panthor.patch::https://github.com/hbiyik/linux/compare/aa54fa4e0712616d44f2c2f312ecc35c0827833d...linux-6.1-stan-rkr3-panthor.patch
	sha512sums = SKIP
	sha512sums = 59ed71981bf0e180f40c55925fe91692e96ab47aff9d67a230097382244d63961e8ddddeecb97bfeed9918bcf3616adcda1c9bcc2f0d29b3cab94337b7d2249d
	sha512sums = 89161d6da2a5487b3ce520125fd4cd3c03b674c390bab3884fd824caf8cc36186074b696c1295ca3c0f6d14e57bf829a450f1c9faac207788832bfb32872424b

pkgname = linux-aarch64-rockchip-bsp6.1-fydetab-git
	pkgdesc = The linux-rockchip kernel, for Fydetab Duo
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-rockchip-bsp6.1-fydetab-git-headers
	pkgdesc = Headers and scripts for building modules for the linux-rockchip kernel, for Fydetab Duo
	depends = python